.main-cart {
  background-color: #fff;
  position: relative;
  transition: 0.4s ease;
  width: 0;
  height: 100%;
  overflow-y: auto;
  transition: opacity 0.3s linear, right 0.3s ease-out;
  .cart-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 14px;
    border-radius: 10px;
    h3 {
      font-size: 22px;
      color: #212529;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    .cart-nav-close {
      border: none;
      background-color: transparent;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.6;
      font-size: 19px;
    }
  }
  hr {
    margin: 0;
  }
}
.Cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: 0.4s ease;
  // transform: translateY(0);
  width: 500px;
  @media only screen and (max-width: 800px) {
    width: 400px;
  }
  @media only screen and (max-width: 400px) {
    width: 375px;
  }
}
.cart-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  .cart-titles {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 400px) {
      display: block;
      padding-left: 15px;
    }
    .cart-txt {
      width: 180px;
      @media only screen and (max-width: 400px) {
        width: 150px;
      }
      .remove-btn {
        background-color: #fff;
        color: #dc3545;
        border: none;
      }
    }
    h3 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-size: 16px;
    }
    h4 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-size: 16px;
    }
    .add-product {
      padding-right: 30px;
      display: flex;
      align-items: center;
      p {
        margin: 2px 4px;
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 700;
        padding: 0 5px;
      }
      .plusher {
        width: 20px;
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: none;
        border-radius: 6px;
        background-color: #dc3545;
        padding-bottom: 3px;
      }
    }
  }
}
.none {
  position: absolute;
  left: -600px;
}
.cart-abilities {
  position: absolute;
  bottom: 0;
  right: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 400px) {
    right: 10%;
  }
  .order-btn {
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #dc3545;
    background-color: #dc3545;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 20px;
  }
  p {
    font-size: 20px;
  }
}
.empty {
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  padding-top: 50px;
}
